<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a href="/">Index</a>
            </li>
            <li class="main-header__item">
                <a href="/clicks">List</a>
            </li>
        </ul>
    </nav>
</header>