<%- include('includes/head.ejs') %>
</head>

<body>
	<%- include('includes/navigation.ejs') %>

	<main>
		<form class="product-form" action="/add-click" method="POST">
			<button class="btn" type="submit">Button</button>
		</form>
	</main>
<%- include('includes/end.ejs') %>